{
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:react-hooks/recommended"
    ],
    "globals": {
        "jestExpect": false
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "plugins": ["@babel", "@typescript-eslint", "eslint-plugin-tsdoc", "import"],
    "root": true,
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-member-accessibility": ["error"],
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
        "@typescript-eslint/no-shadow": ["error"],

        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/prefer-default-export": "off",
        "import/no-cycle": ["error", { "maxDepth": 10 }],

        "tsdoc/syntax": "error",

        "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/accessible-emoji": "off",

        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx", ".tsx"]
            }
        ],
        "react/jsx-indent-props": [1, 4],
        "react/jsx-indent": ["error", 4],
        "react/prop-types": ["warn", { "skipUndeclared": true }],
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "react-hooks/exhaustive-deps": "error",

        "arrow-body-style": "off",
        "arrow-parens": ["error", "as-needed"],
        "quote-props": "off",
        "no-console": "off",
        "no-continue": "off",
        "no-confusing-arrow": ["error", { "allowParens": false }],
        "no-mixed-operators": "off",
        "no-restricted-globals": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-shadow": "off",
        "max-lines": ["error", { "max": 300, "skipBlankLines": true, "skipComments": true }],
        "object-curly-newline": "off",
        "operator-linebreak": "off",
        "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }]
    }
}
